#root {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}


.content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  background-color: rgba(231, 218, 69, 0.7);
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 30px 0;
}

.sections {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
